@model IEnumerable<taskQueueGrupo3.Models.TaskLog>

<h2>Log de Tareas</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>TaskId</th>
            <th>LogMessage</th>
            <th>LogDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.Id</td>
                <td>@log.TaskId</td>
                <td>@log.LogMessage</td>
                <td>@log.LogDate</td>
            </tr>
        }
    </tbody>
</table>